{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <link rel = "stylesheet" type = "text/css" href = "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <nav class = "navbar navbar-inverse">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <a href = "{% url "dashboard" %}"class = "navbar-brand" >Shout Out!</a>
        </div>

        <div class = "collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
          <ul class = "nav navbar-nav">
            {% if request.user.is_authenticated %}


              <li {% if section == "Home" %} class = "selected" {% endif %}><a href="{% url 'blog:post_list' %}"><span class="glyphicon glyphicon-home"></span>&nbspHome</a></li>
              <li {% if section == "Posts" %} class = "selected" {% endif %}><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span>&nbspMy Profile</a></li>
            {% endif %}
          </ul>
          <ul class = "nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}

            <li class = "dropdown">
              <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" role = "button" aria-haspopup = "true" aria-expanded = "false"></a>
              <ul class = "dropdown-menu">
                <li><a href = "{% url "password_change" %}">Change Password</a></li>
                <li><a href = "{% url "edit" %}">Edit Profile</a></li>
                <li role = "separator" class = "divider"></li>
                <li><a data-toggle="modal" data-target="#logout">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href = "{% url "login" %}">Log-in</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    <div class = "container">
      {% if messages %}
          {% for message in messages %}
            {% if message.tags == "error" %}
              <div class = "alert alert-danger fade in">
                {{ message|safe }}
                <a href = "#" class = "close" data-dismiss = "alert">✖</a>
              </div>
            {% else %}
              <div class = "alert alert-{{ message.tags }} fade in">
                {{ message|safe }}
                <a href = "#" class = "close" data-dismiss = "alert">✖</a>
              </div>
            {% endif %}
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>


    <center>
      <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Logout</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to logout?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a href="{% url 'logout' %}" formenctype="multipart/form-data" class="btn btn-danger" role="button">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </center>

  </body>
</html>
