{% extends "base.html" %}

{% block title %}Change Your Password{% endblock %}
{% block content %}
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <h1>Change Your Password</h1>
    </div>

    <div class = "panel-body">
      <p>Use the form below to change your password.</p>
      <form action = "." method = "post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type = "submit" value = "Change"></p>
      </form>
    </div>
  </div>
{% endblock %}
