{% extends "base.html" %}

{% block title %}Create An Account{% endblock %}

{% block content %}
{% include 'registration/helper_login.html' %}
    <center>
      <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create an Account</h4>
            </div>
            <div class="modal-body">
              <form method="POST" enctype = "multipart/form-data" class="post-form">
                  {% csrf_token %}
                  {{ user_form.as_p }}
                  <button type="submit" class="save btn btn-primary">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </center>

    <script type = 'text/javascript'>
      $(window).load(function(){
          $('#register').modal('show');
      });
    </script>
{% endblock %}
