{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
  <center>
    <div class="w3-card-16 w3-hover-shadow w3-center" style="max-width:75%;">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1>Welcome, {{ new_user.username }}!</h1>
        </div>

        <div class="panel-body">
          <p>Your account has been successfully created. Now you can <a href="{% url "login" %}">log in</a>.</p>
        </div>
      </div>
    </div>
  </center>
{% endblock %}
