{% extends "base.html" %}

{% block title %}Create An Account{% endblock %}
{% block content %}
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <h1>Create An Account</h1>
    </div>

    <div class = "panel-body" align = "left">
      <form action = "." method = "post">
        <p>Sign up</p>
        {{ user_form.as_p }}
        {{ profile_form.as_p}}
        {% csrf_token %}
        <p><input type = "submit" value = "Create my account"></p>
      </form>
    </div>
{% endblock %}
