{% block content %}
  <center>
  {% if posts %}
    <div class = "w3-card-16 w3-hover-shadow w3-center" style="max-width: 75%;">
      <div class = "panel panel-info">
        <div class = "panel-heading">
          <h3>Add a new blog!</h3>
        </div>

        <div class = "panel-body">
          <a href="{% url 'blog:post_new' %}" class="btn btn-info" role="button"><span class="glyphicon glyphicon-plus"></span>&nbspAdd New Post</a><br>
        </div>
      </div>
    </div>

    {% for post in posts %}
      <div class = "w3-card-16 w3-hover-shadow w3-center" style="max-width: 75%;">
        <div class = "panel panel-info">
          <div class = "panel-heading">
            <h1><a href="{% url 'blog:post_detail' pk=post.pk %}" text-align="center">{{ post.title }}</a></h1>
          </div>

          <div class = "panel-body">
            {% if post.photo %}
              <img src = "{{ post.photo.url }}" class = "responsive img-thumbnail" height="300" width="350"/>
            {% endif %}
            <h3>{{ post.text|linebreaksbr }}</h3>
            <p>Created on: {{ post.created_date }}</p>

            {% for creator in creators %}
              {% if creator.user == post.author %}
                {% if creator.photo %}
                  Made by:&nbsp<a href = "{% url 'view_other_profile' other=post.author %}"><img src = "{{creator.photo.url}}" class = "responsive img-circle" height="75" width="75" /></a>
                {% else %}
                  Made by:&nbsp<a href = "{% url 'view_other_profile' other=post.author %}">{{ post.author }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>

          <div class="panel-footer">
            <a href="{% url 'blog:add_comment_to_post' pk=post.pk %}" class="btn btn-info"><span class="glyphicon glyphicon-comment"></span> {{ post.comments.count }}</a>
            <a href="{% url 'blog:like' pk=post.pk %}" class="btn btn-info"><span class="glyphicon glyphicon-thumbs-up"></span> {{ post.likes.count }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <div class = "w3-card-16 w3-hover-shadow w3-center" style="max-width: 75%;">
    <div class = "panel panel-info">
      <div class = "panel-heading">
        <h3>There are no blogs right now!</h3>
      </div>

      <div class = "panel-body">
        <a href="{% url 'blog:post_new' %}" class="btn btn-info" role="button">Add New Post</a><br>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}
