{% extends 'base.html' %}
{% block content %}
  <center>
    <div class = "panel panel-info">
        {% if post.title %}
          <div class = "panel-heading">
            <h1><a href="">{{ post.title }}</a></h1>
          </div>
        {% endif %}

        <div class = "panel-body">
          <p>Published: {{ post.published_date }}</p>
          <h3>{{ post.text|linebreaksbr }}</h3
        </div>
        <a href="{% url 'blog:post_edit' pk=post.pk %}" class="btn btn-info" role="button">Edit</a>
    </div>
  </center>
{% endblock %}
