{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <center>
    {% include 'blog/helper_post_list.html' %}
  <center>

  <center>
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Post</h4>
          </div>
          <div class="modal-body">
            <form class="" method="POST" enctype="multipart/form-data">{% csrf_token %}
              <fieldset>
                  {% for field in form.visible_fields %}
                      {% if field.errors %}
                          <div class="control-group error">
                              <label class="controls col-sm-14">{{ field.label }}</label>
                              <div class="col-sm-14">{{ field|add_class:"form-control" }}
                                  <span class="help-inline">
                                      {% for error in  field.errors %}{{ error }}{% endfor %}
                                  </span>
                              </div>
                          </div>
                      {% else %}
                          <div class="form-group">
                                <label class="control-label col-sm-14">{{ field.label }}</label>
                                <div class="controls col-sm-14">{{ field|add_class:"form-control" }}
                                  {% if field.help_text %}
                                      <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                  {% endif %}
                              </div>
                          </div>
                      {% endif %}
                  {% endfor %}
              </fieldset>
              <div class="form-actions">
                  <center>
                  <button type="submit" class="btn btn-primary">Create Post</button><br>
                </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </center>

  <script type = 'text/javascript'>
    $(window).load(function(){
        $('#add').modal('show');
    });
  </script>
{% endblock %}
