{% extends 'base.html' %}
{% block content %}
  <center>
    <div class = "panel panel-info">
        {% if post.title %}
          <div class = "panel-heading">
            <h1>{{ post.title }}</h1>
          </div>
        {% endif %}

        <div class = "panel-body">
          <p>Created on: {{ post.created_date }}</p>
          <p>Made by: <a href = "">{{ post.author }}</a></p>
          <h3>{{ post.text|linebreaksbr }}</h3
        </div>

        {% if post.author == request.user %}
          <a href="{% url 'blog:post_edit' pk=post.pk %}" formenctype="multipart/form-data" class="btn btn-info" role="button">Edit</a>
          <a href="{% url 'blog:post_remove' pk=post.pk %}" class="btn btn-danger" role="button">Delete</a>
        {% else %}
          <a href="" class="btn btn-info disabled" role="button">Edit</a>
          <a href="" class="btn btn-danger disabled" role="button">Delete</a>
        {% endif %}

    </div>
  </center>
{% endblock %}
