{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <center>
    <div class="w3-card-24 w3-hover-shadow w3-center" style="max-width: 75%;">
      <div class="panel panel-info">
        <div class="panel-heading"><h1><strong>Welcome to Shout Out!</strong></h1></div>

        <div class="panel-body">
          <p>A twitter-like website that allows you to create, edit, and delete blog posts as well as view profiles of other users.</p>
        </div>
      </div>
    </div>
  </center>
{% endblock %}
