{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

  <div class = "row">
    <div class = "col-sm-4">
      <div class = "panel panel-info">
        <div class = "panel-heading"><h1>Profile</h1></div>

        <div class = "panel-body">
          Username: <p>{{ use.username }}</p><br>
          First Name: <p>{{ use.first_name }}</p><br>
          Last Name: <p>{{ use.last_name }}</p><br>
          Email: <p>{{ use.email }}</p><br>
          {% if prof.photo %}
            <img src = "{{ prof.photo.url }}"/>
          {% endif %}
          Date of Birth: <p>{{ prof.date_of_birth }}</p><br>
        </div>
      </div>
    </div>

    <div class = "col-sm-8">
      {% if posts %}
        {% for post in posts %}
          <div class = "panel panel-info">
            <div class = "panel-heading"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></div>

            <div class = "panel-body">
              <h3>{{ post.text|linebreaksbr }}</h3>
              <p>Last updated on: {{ post.created_date }}</p>
            </div>

            <div class = "panel-footer">
              <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-thumbs-up"></span> 0
              </button>
              <a href="{% url 'blog:add_comment_to_post' pk=post.pk %}" class="btn btn-info"><span class="glyphicon glyphicon-comment"></span> {{ post.comments.count }}</a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <center>
          <div class = "panel panel-info">
            <div class = "panel-heading">
              <h3>You don't have any blogs right now</h3>
            </div>
            <div class = "panel-body">
              Click&nbsp<a href="{% url 'blog:post_new' %}">here&nbsp</a>to add a new post
            </div>
          </div
        </center>
      {% endif %}
    </div>
  </div>

{% endblock %}
